/* Clear default browser styling: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

article {
    opacity: 0;
    scroll-snap-align: start start;
    height: 100vh;
}

/* Adjusting the article headings to make them discernable from section headings. */
article h1 {
    font-size: 2em;
}

#lightblue {
    background: lightblue;
}

#lightpink {
    background: lightpink;
}

#sandybrown {
    background: sandybrown;
}

/*
TODO: Animation timelines are not supported in Firefox as of 15th May 2024.
 - It would be useful to test how animation timelines can be used to improve the site.
*/
@keyframes slideIn {
    from {
        opacity: 0;
        transform: scale(0, 1);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .slideIn-animation {
        animation: slideIn 0.5s alternate;
        opacity: 1;
    }
}
